@charset "UTF-8";
@import "../variable.scss";

/* CSS RESET START*/

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
small { font-size: 12px; } /* 小于 12px 的中文很难阅读, 让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; color: #1b82d7; }
a:hover { text-decoration: none; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
img { -webkit-user-drag: none; }
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}

/* 重置滚动条样式 */
::-webkit-scrollbar{width:6px; height: 6px;border-radius: 5px;background: transparent;}
::-webkit-scrollbar-thumb{border-radius: 5px;background: #e1e3e4;}
::-webkit-scrollbar-thumb:hover{background: rgba(0,0,0,.2);}

html {height: 100%;}

body {
    margin: 0px;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Microsoft YaHei",helvetica, arial, verdana, sans-serif !important;
    font-weight: normal !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 14px !important;
    background-color: $bodyBgColor;
    box-sizing: border-box !important;
    animation: pageEnter .45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes pageEnter {
    from {
      opacity: 0;
    }
}
/* CSS RESET END*/

.KyeeNext-col-flex-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.KyeeNext-row-flex-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.KyeeNext-clickable:hover{
    cursor: pointer;
}
.KyeeNext-unclickable:hover{
    cursor: not-allowed;
}

.KyeeNext-text-ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


.KyeeNext-body {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    // 侧边导航栏区样式
    .KyeeNext-aside-box {
        flex: none;
        width: 220px;
        height: 100%;
        overflow: hidden;
        -webkit-transition: width .2s linear;
        -moz-transition: width .2s linear;
        -o-transition: width .2s linear;
        transition: width .2s linear;
        -moz-transform: translateZ(0) scale(1, 1);
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 3;
        .KyeeNext-logo-box{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 220px;
            height: 70px;
            background-color: $themeColor;
            >span{
                display: inline-block;
                width: 70px;
                height: 100%;
                font-size: 20px;
                color: $systemNameColor;
                text-align: center;
                line-height: 70px;
                background-color: $toggleButtonBgColor;
                &:hover{
                    color: $menuItemHoverBgColor;
                }
            }
            >img{
                width: $logoWidth;
                margin-left: 10px;
            }
        }
        .KyeeNext-menu-items-box {
            height: calc(100% - 70px);
            width: 220px;
            background-color: $themeColor;
            color: $menuFontDefaultColor;
            overflow-y: auto;
            .KyeeNext-item-level-0-active{
                color: $menuFontActiveColor !important;
                border-left-color: $menuActiveBorderLeftColor !important;
            }
            .KyeeNext-item-level-1-2-active{
                color: $menuFontActiveColor !important;
            }
            .KyeeNext-item-level-0{
                display: flex;
                align-items: center;
                position: relative;
                height: 50px;
                border-left-width: 3px;
                border-left-style: solid;
                padding-right: 20px;
                .KyeeNext-item-icon-left{
                    display: inline-block;
                    flex: none;
                    width: 67px;
                    height: 50px;
                    font-size: 20px;
                    text-align: center;
                    line-height: 50px;
                }
                .KyeeNext-item-label{
                }
                .KyeeNext-item-icon-right{
                    position: absolute;
                    right: 10px;
                }
            }
            .KyeeNext-item-level-1{
                display: flex;
                align-items: center;
                padding: 0 20px 0 70px;
                height: 30px;
                line-height: 30px;
                color: $menuFontDefaultColorSub;
                >i{
                    flex: none;
                    width: 16px;
                    font-size: 12px;
                }
                &:hover{
                    background-color: $menuItemHoverBgColor;
                    color: $menuFontHoverColorSub !important;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }
            }
            .KyeeNext-item-level-2{
                height: 28px;
                line-height: 28px;
                padding: 0 20px 0 96px;
                color: $menuFontDefaultColorSub;
                &:hover{
                    background-color: $menuItemHoverBgColor;
                    color: $menuFontHoverColorSub !important;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }
            }
        }
    }
    .KyeeNext-aside-folded {
        width: 70px;
    }
    .KyeeNext-aside-box-hover:hover{
        width: 220px; 
    }

    // 右侧内容区样式
    .KyeeNext-main-box{
        height: 100%;
        margin-left: 0;
        overflow: auto;
        .KyeeNext-header-box {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            height: 70px;
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            background-color: $themeColor;
            .KyeeNext-system-name-box {
                justify-content: flex-start;
                height: 100%;
                min-width: 100px;
                color: $systemNameColor;
                font-size: 20px;
                font-weight: 700;
                i{
                    color:#FFF;
                    font-size:12px;
                    margin-left:8px;
                    display: none;
                }
            }
            .KyeeNext-func-config-box{
                height: 100%;
            }
            .KyeeNext-func-item{
                margin-left: 16px;
                color: $systemNameColor;
                font-size: 16px;
                span{
                    margin-left: 4px;
                }
                &:hover{
                    color: #F4F4F4;
                }
            }
            .KyeeNext-toggle-system-box{
                position: absolute;
                top:60px;
                left: 20px;
                display: none;
                background-color: rgba(255, 255, 255, .9);
                border-radius: 8px;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
                z-index: 9;
                ul{
                    padding: 8px 12px;
                    font-size: 16px;
                    color: #222;
                    li{
                        padding:0 6px;
                        height:36px;
                        line-height:36px;
                        &:hover{
                            color: $assistItemsColor !important;
                            cursor: pointer;
                            -webkit-transition: all .2s ease;
                            -moz-transition: all .2s ease;
                            -o-transition: all .2s ease;
                            transition: all .2s ease;
                        }
                    }
                    &:after{
                        border: 10px solid transparent;
                        border-bottom: 10px solid rgba(255,255,255,.9);
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: -20px;
                        left: 30px;
                        content: ' '
                    }
                }
            }
        }
        
        .KyeeNext-visited-nav-box{
            position: relative;
            box-sizing: border-box;
            height: 40px;
            border-bottom: 1px solid $visitedItemDefaultBorderColor;
            >span{
                display: inline-block;
                box-sizing: border-box;
                width: 20px;
                line-height: 39px;
                text-align: center;
                color: #BEBEBE;
                border-right: 1px solid $visitedItemDefaultBorderColor;
                border-left: 1px solid $visitedItemDefaultBorderColor;
                background-color: $visitedItemDefaultBgColor;
                z-index: 2;
                &:active{
                    background-color: $visitedItemDefaultBorderColor;
                }
            }
            .KyeeNext-nav-pre{
                position: absolute;
                left: 0;
            }
            .KyeeNext-nav-next{
                position: absolute;
                right: 0;
            }
            >nav{
                flex: auto;
                padding: 0 20px;
                font-size: 0;
                -webkit-text-size-adjust:none;
                overflow: hidden;
                z-index: 1;
                .KyeeNext-visited-items{
                    white-space: nowrap;
                    -webkit-transition: transform .3s;
                    -moz-transition: transform .3s;
                    -o-transition: transform .3s;
                    transition: transform .3s;
                }
                li{
                    box-sizing: border-box;
                    line-height: 36px;
                    font-size: 13px;
                    padding: 0 16px;
                    border-top: 3px solid $visitedItemDefaultBgColor;
                    border-right: 1px solid $visitedItemDefaultBorderColor;
                    border-bottom: 1px solid $visitedItemDefaultBorderColor;
                    background-color: $visitedItemDefaultBgColor;
                    i{
                        margin-left: 10px;
                        font-size: 12px;
                    }
                }
                .KyeeNext-active-item{
                    color: $activeVisitedItemFontColor;
                    border-top: 3px solid $activeVisitedItemBorderColor;
                    border-bottom: 1px solid $bodyBgColor;
                    background-color: $bodyBgColor;
                    -webkit-transition: all .2s linear;
                    -moz-transition: all .2s linear;
                    -o-transition: all .2s linear;
                    transition: all .2s linear;
                }
            }
        }
    }
    .KyeeNext-main-box-dynamic {
        position: relative;
        flex: auto;
    }
    .KyeeNext-main-box-fixed {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin-left: 70px;
    }
    .KyeeNext-submenu-hide {
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    }
    .KyeeNext-submenu-show {
        max-height: 1500px;
        visibility: visible;
        opacity: 1;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    }
    .KyeeNext-item-level-0-folded{
        background-color: $menuDefaultBgColor;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        .KyeeNext-item-level-0{
            color: $menuFontDefaultColor;
            border-left-color: $menuDefaultBgColor;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
    }
    .KyeeNext-item-icon-right-folded{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: transform .2s ease-in-out;
        -moz-transition: transform .2s ease-in-out;
        -o-transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
    }
    .KyeeNext-item-level-0-expanded {
        border-left-color: $menuActiveBorderLeftColor;
        background-color: $menuActiveBgColor;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        .KyeeNext-item-level-0{
            color: $menuFontActiveColor;
            border-left-color: $menuActiveBorderLeftColor;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
    }
    .KyeeNext-item-icon-right-expanded{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: transform .2s ease-in-out;
        -moz-transition: transform .2s ease-in-out;
        -o-transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
    }

    // 业务内容区样式
    .KyeeNext-main-body-box{
        position: absolute;
        top: 110px;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
    }
    .KyeeNext-hide-recent-func-tabbar{
        top: 70px !important;
    }

    // 客服配置区样式
    .KyeeNext-customer-services-box{
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .KyeeNext-customer-services-folded{
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $assistItemsColor;
            font-size: 20px;
            color: #FFF;
        }
        .KyeeNext-customer-services-expanded{
            background-color: $disabledStateColor;
        }
        .KyeeNext-customer-services-item{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            right: -5px;
            height: 70px;
            width: 70px;
            -webkit-transition: width .2s linear;
            transition: width .2s linear;
            -webkit-transform: translateZ(0) scale(1, 1);
            overflow: hidden;
            color: $disabledStateColor;
            border: 2px #DCE0E0 solid;
            box-sizing: border-box;
            margin-bottom: 8px;
            span{
                font-size: 18px;
                width: 90px;
                flex: none;
                text-align: right;
            }
            i{
                font-size: 36px;
                width: 70px;
                flex: none;
                text-align: center;
            }
            &:hover{
                width: 160px;
                color: $menuFontActiveColor;
                border-color: $menuActiveBorderLeftColor;
            }
        }
    }

    // 公共右侧边栏区样式
    .KyeeNext-sidebar-right{
        position: absolute;
        top: 70px;
        right: 0px;
        bottom: 0;
        min-width: 200px;
        background-color: $sidebarBgColor;
        z-index: 12;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .KyeeNext-sidebar-show{
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .KyeeNext-sidebar-hidden{
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
}

// 按钮点击波纹效果
.KyeeNext-ripple {
    position: relative;
    overflow: hidden;  //隐藏溢出的径向渐变背景
}
.KyeeNext-ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, $menuItemHoverBgColor 10%, transparent 10%);   //设置径向渐变
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .5s;
}
.KyeeNext-ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s; //设置初始状态
}

// 遮罩层样式
.KyeeNext-ui-sidebar-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #666;
    opacity: .5;
    z-index: 11;
}
