@charset "UTF-8";
/* CSS RESET START*/
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

small {
  font-size: 12px; }

/* 小于 12px 的中文很难阅读, 让 small 正常化 */
/** 重置列表元素 **/
ul, ol {
  list-style: none; }

/** 重置文本格式元素 **/
a {
  text-decoration: none;
  color: #1b82d7; }

a:hover {
  text-decoration: none; }

/** 重置表单元素 **/
legend {
  color: #000; }

/* for ie6 */
img {
  -webkit-user-drag: none; }

fieldset, img {
  border: 0; }

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
  font-size: 100%; }

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  display: block;
  margin: 0;
  padding: 0; }

/* 重置滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #e1e3e4; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2); }

html {
  height: 100%; }

body {
  margin: 0px;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Microsoft YaHei",helvetica, arial, verdana, sans-serif !important;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 14px !important;
  background-color: #FFF;
  box-sizing: border-box !important;
  animation: pageEnter 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@keyframes pageEnter {
  from {
    opacity: 0; } }
/* CSS RESET END*/
.KyeeNext-col-flex-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.KyeeNext-row-flex-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.KyeeNext-clickable:hover {
  cursor: pointer; }

.KyeeNext-unclickable:hover {
  cursor: not-allowed; }

.KyeeNext-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.KyeeNext-body {
  display: flex;
  box-sizing: border-box;
  height: 100%; }
  .KyeeNext-body .KyeeNext-aside-box {
    flex: none;
    width: 220px;
    height: 100%;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    -moz-transition: width .2s linear;
    -o-transition: width .2s linear;
    transition: width .2s linear;
    -moz-transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    z-index: 3; }
    .KyeeNext-body .KyeeNext-aside-box .KyeeNext-logo-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 220px;
      height: 56px;
      background-color: #22345E; }
      .KyeeNext-body .KyeeNext-aside-box .KyeeNext-logo-box > span {
        display: inline-block;
        width: 56px;
        height: 100%;
        font-size: 20px;
        color: #FFF;
        text-align: center;
        line-height: 56px;
        background-color: #132142; }
        .KyeeNext-body .KyeeNext-aside-box .KyeeNext-logo-box > span:hover {
          color: #52A3F6; }
      .KyeeNext-body .KyeeNext-aside-box .KyeeNext-logo-box > img {
        width: 100px;
        margin-left: 20px; }
    .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box {
      height: calc(100% - 56px);
      width: 220px;
      background-color: #22345E;
      color: #E9ECF2;
      border-top: 1px solid #5B6E99;
      overflow-y: auto; }
      .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-0-active {
        color: #52A3F6 !important;
        border-left-color: #52A3F6 !important; }
      .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-1-2-active {
        color: #52A3F6 !important; }
      .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-0 {
        display: flex;
        align-items: center;
        position: relative;
        height: 50px;
        border-left-width: 3px;
        border-left-style: solid;
        padding-right: 20px; }
        .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-0 .KyeeNext-item-icon-left {
          display: inline-block;
          flex: none;
          width: 53px;
          height: 50px;
          font-size: 20px;
          text-align: center;
          line-height: 50px; }
        .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-0 .KyeeNext-item-icon-right {
          position: absolute;
          right: 15px;
          font-size: 12px; }
      .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-1 {
        display: flex;
        align-items: center;
        padding: 0 20px 0 56px;
        height: 30px;
        line-height: 30px;
        color: #5B6E99; }
        .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-1 > i {
          flex: none;
          width: 16px;
          font-size: 12px; }
        .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-1:hover {
          background-color: #52A3F6;
          color: #FFF !important;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
      .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-2 {
        height: 28px;
        line-height: 28px;
        padding: 0 20px 0 86px;
        color: #5B6E99; }
        .KyeeNext-body .KyeeNext-aside-box .KyeeNext-menu-items-box .KyeeNext-item-level-2:hover {
          background-color: #52A3F6;
          color: #FFF !important;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
  .KyeeNext-body .KyeeNext-aside-folded {
    width: 56px; }
  .KyeeNext-body .KyeeNext-aside-box-hover:hover {
    width: 220px; }
  .KyeeNext-body .KyeeNext-main-box {
    height: 100%;
    margin-left: 0;
    overflow: auto; }
    .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      height: 56px;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      background-color: #22345E; }
      .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-system-name-box {
        justify-content: flex-start;
        height: 100%;
        min-width: 100px;
        color: #FFF;
        font-size: 20px;
        font-weight: 700; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-system-name-box i {
          color: #FFF;
          font-size: 12px;
          margin-left: 8px;
          display: none; }
      .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-func-config-box {
        height: 100%; }
      .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-func-item {
        margin-left: 16px;
        color: #FFF;
        font-size: 16px; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-func-item span {
          margin-left: 4px; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-func-item:hover {
          color: #F4F4F4; }
      .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-toggle-system-box {
        position: absolute;
        top: 50px;
        left: 20px;
        display: none;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        z-index: 9; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-toggle-system-box ul {
          padding: 8px 12px;
          font-size: 16px;
          color: #222; }
          .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-toggle-system-box ul li {
            padding: 0 6px;
            height: 36px;
            line-height: 36px; }
            .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-toggle-system-box ul li:hover {
              color: #006EFF !important;
              cursor: pointer;
              -webkit-transition: all .2s ease;
              -moz-transition: all .2s ease;
              -o-transition: all .2s ease;
              transition: all .2s ease; }
          .KyeeNext-body .KyeeNext-main-box .KyeeNext-header-box .KyeeNext-toggle-system-box ul:after {
            border: 10px solid transparent;
            border-bottom: 10px solid rgba(255, 255, 255, 0.9);
            width: 0;
            height: 0;
            position: absolute;
            top: -20px;
            left: 30px;
            content: " "; }
    .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box {
      position: relative;
      box-sizing: border-box;
      height: 40px; }
      .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box > span {
        display: inline-block;
        box-sizing: border-box;
        width: 20px;
        line-height: 40px;
        text-align: center;
        color: #BEBEBE;
        background-color: #EFEEEE;
        z-index: 2; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box > span:active {
          background-color: #D7D7D7; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box > span:first-child {
          border-right: 1px solid #D7D7D7; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box > span:last-child {
          border-left: 1px solid #D7D7D7; }
      .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box .KyeeNext-nav-pre {
        position: absolute;
        left: 0; }
      .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box .KyeeNext-nav-next {
        position: absolute;
        right: 0; }
      .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box > nav {
        flex: auto;
        padding: 0 20px;
        font-size: 0;
        -webkit-text-size-adjust: none;
        background-color: #F7F8FA;
        overflow: hidden;
        z-index: 1; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box > nav .KyeeNext-visited-items {
          white-space: nowrap;
          -webkit-transition: transform .3s;
          -moz-transition: transform .3s;
          -o-transition: transform .3s;
          transition: transform .3s; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box > nav li {
          box-sizing: border-box;
          margin-right: 2px;
          line-height: 37px;
          font-size: 13px;
          padding: 0 16px;
          border-top: 3px solid #EFEEEE;
          background-color: #EFEEEE; }
          .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box > nav li i {
            margin-left: 10px;
            font-size: 12px; }
        .KyeeNext-body .KyeeNext-main-box .KyeeNext-visited-nav-box > nav .KyeeNext-active-item {
          color: #EB370B;
          border-top: 3px solid #EB370B;
          background-color: #FFF;
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear; }
    .KyeeNext-body .KyeeNext-main-box .KyeeNext-copyright-box {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 12px;
      text-align: center;
      color: #9B9AA0;
      background-color: #F7F8FA; }
  .KyeeNext-body .KyeeNext-main-box-dynamic {
    position: relative;
    flex: auto; }
  .KyeeNext-body .KyeeNext-main-box-fixed {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 56px; }
  .KyeeNext-body .KyeeNext-submenu-hide {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
  .KyeeNext-body .KyeeNext-submenu-show {
    max-height: 1500px;
    visibility: visible;
    opacity: 1;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
  .KyeeNext-body .KyeeNext-item-level-0-folded {
    background-color: #22345E;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .KyeeNext-body .KyeeNext-item-level-0-folded .KyeeNext-item-level-0 {
      color: #E9ECF2;
      border-left-color: #22345E;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .KyeeNext-body .KyeeNext-item-icon-right-folded {
    color: #8CA0B3;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .KyeeNext-body .KyeeNext-item-level-0-expanded {
    border-left-color: #52A3F6;
    background-color: #172850;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .KyeeNext-body .KyeeNext-item-level-0-expanded .KyeeNext-item-level-0 {
      color: #52A3F6;
      border-left-color: #52A3F6;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .KyeeNext-body .KyeeNext-item-level-0-expanded > .KyeeNext-submenu-show {
      padding-bottom: 10px; }
  .KyeeNext-body .KyeeNext-item-icon-right-expanded {
    color: #52A3F6;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .KyeeNext-body .KyeeNext-main-body-box {
    position: absolute;
    top: 96px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden; }
  .KyeeNext-body .KyeeNext-hide-recent-func-tabbar {
    top: 56px !important; }
  .KyeeNext-body .KyeeNext-customer-services-box {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .KyeeNext-body .KyeeNext-customer-services-box .KyeeNext-customer-services-folded {
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #006EFF;
      font-size: 20px;
      color: #FFF; }
    .KyeeNext-body .KyeeNext-customer-services-box .KyeeNext-customer-services-expanded {
      background-color: #C0C4CA; }
    .KyeeNext-body .KyeeNext-customer-services-box .KyeeNext-customer-services-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 50px;
      width: 50px;
      -webkit-transition: width .2s linear;
      transition: width .2s linear;
      -webkit-transform: translateZ(0) scale(1, 1);
      transform: translateZ(0) scale(1, 1);
      overflow: hidden;
      color: #C0C4CA;
      border: 2px #DCE0E0 solid;
      box-sizing: border-box;
      margin-bottom: 8px; }
      .KyeeNext-body .KyeeNext-customer-services-box .KyeeNext-customer-services-item span {
        font-size: 16px;
        width: 70px;
        flex: none;
        text-align: right; }
      .KyeeNext-body .KyeeNext-customer-services-box .KyeeNext-customer-services-item i {
        font-size: 32px;
        width: 48px;
        flex: none;
        text-align: center; }
      .KyeeNext-body .KyeeNext-customer-services-box .KyeeNext-customer-services-item:hover {
        width: 140px;
        color: #52A3F6;
        border-color: #52A3F6; }
  .KyeeNext-body .KyeeNext-sidebar-right {
    position: absolute;
    top: 56px;
    right: 0px;
    bottom: 0;
    min-width: 200px;
    background-color: #FBFBFB;
    z-index: 12;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .KyeeNext-body .KyeeNext-sidebar-show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .KyeeNext-body .KyeeNext-sidebar-hidden {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }

.KyeeNext-ripple {
  position: relative;
  overflow: hidden; }

.KyeeNext-ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #52A3F6 10%, transparent 10%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .5s; }

.KyeeNext-ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s; }

.KyeeNext-ui-sidebar-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #666;
  opacity: .5;
  z-index: 11; }
