$themeColor: #22345E;
$toggleButtonBgColor: #132142;
$menuFontDefaultColor: #E9ECF2;
$menuFontActiveColor: #52A3F6;
$menuDefaultBgColor: #22345E;
$menuActiveBgColor: #172850;
$menuItemHoverBgColor: #52A3F6;
$menuActiveBorderLeftColor: #52A3F6;



$logoWidth: 100px;