$themeColor: #22345E;
$bodyBgColor:  #fff;
$systemNameColor: #fff;
$toggleButtonBgColor: #132142;

$menuFontDefaultColor: #E9ECF2;
$menuFontDefaultColorSub: #5B6E99;
$menuFontActiveColor: #52A3F6;
$menuFontActiveColorSub: #fff;
$menuDefaultBgColor: #22345E;
$menuActiveBgColor: #172850;
$menuItemHoverBgColor: #52A3F6;
$menuActiveBorderLeftColor: #52A3F6;

$visitedItemBgColor: #F2F2F2;
$activeVisitedItemBorderColor: #EB370B;

$logoWidth: 100px;